/*
 * general
 */
*:focused {
	/*-fx-focus-color: -fx-control-inner-background;*/
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.bold {
	-fx-font-weight: bold;
}

.right {
	-fx-text-alignment: right;
}
.root {
	-fx-selection-bar: transparent;
}


/*
 * titlebar
 */
.title-bar {
	-fx-background-color: #f7f7f7;
}

.title-bar .icon:hover {
	-fx-cursor: hand;
}


/*
 * main menu
 */
.hotdog {
	-fx-background-color: #f0f0f0;
	-fx-background-radius: 0px;
}
.hotdog:hover {
	-fx-cursor: hand;
	-fx-background-color: #ddd;
}

#main-menu {
	-fx-background-color: #f0f0f0;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 3);
}
#main-menu .menu-item {
	-fx-cursor: hand;
}
#main-menu .menu-item:hover {
	-fx-background-color: #f7f7f7;
}