.table-view {
	-fx-border-color: transparent;
	-fx-box-border: #ccc;
	-fx-padding: 0px;
}

.table-view .column-header {
	-fx-background-color: #f7f7f7;
}

.table-row-cell:filled:selected { 
	-fx-background: -fx-control-inner-background;
	-fx-background-color: -fx-table-cell-border-color, -fx-background;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-border-color: transparent;
	-fx-border-width: 0px;
}

.table-row-cell:odd:filled:selected {
	-fx-background: -fx-control-inner-background-alt;
}